<a href="https://colab.research.google.com/github/Mangalis0/regression_team_2/blob/master/bryan_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***BRYAN REGRESSION NOTEBOOK***

<h3>Import Libraries</h3>

In [0]:
import numpy as np
import pandas as pd

<h3>Importing Datasets</h3>

In [0]:
train_df1 = pd.read_csv("/content/sample_data/Train.csv")
test_df1 = pd.read_csv("/content/sample_data/Test.csv")
riders_df1 = pd.read_csv("/content/sample_data/Riders.csv")

<h3>Taking Care Of Missing Values</h3>

*Checking For Missing Values*

In [0]:
def check_missing_Values(input_df):

  missing_values = input_df.isnull().sum().round(2)

  return missing_values

Checking Percentage Of Missing Values Per Column

In [0]:
def percentage_missing_values(input_df, column_name):

  missing_col_values = sum(input_df[column_name].isnull())

  per_col_missing = round(missing_col_values / len(input_df[column_name]) * 100, 1)

  return print(column_name, ":" ,per_col_missing, "percentage of the data is missing")

Dropping Dataframe Columns

In [0]:
def drop_df_columns(input_df, column_name):

  drop_col = input_df.drop([column_name], axis = 1)

  return drop_col

Filling Missing Values

In [0]:
def fill_missing_values(input_df):

  fill = input_df.fillna(input_df.median())

  return fill

<h2> Train Dataset </h2>

<h3>Cleaning DataFrames</h3>

*Check If Dataframe Has Missing Values*

In [7]:
check_missing_Values(train_df1)

Order No                                         0
User Id                                          0
Vehicle Type                                     0
Platform Type                                    0
Personal or Business                             0
Placement - Day of Month                         0
Placement - Weekday (Mo = 1)                     0
Placement - Time                                 0
Confirmation - Day of Month                      0
Confirmation - Weekday (Mo = 1)                  0
Confirmation - Time                              0
Arrival at Pickup - Day of Month                 0
Arrival at Pickup - Weekday (Mo = 1)             0
Arrival at Pickup - Time                         0
Pickup - Day of Month                            0
Pickup - Weekday (Mo = 1)                        0
Pickup - Time                                    0
Arrival at Destination - Day of Month            0
Arrival at Destination - Weekday (Mo = 1)        0
Arrival at Destination - Time                    0
Distance (KM)                                    0
Temperature                                   4366
Precipitation in millimeters                 20649
Pickup Lat                                       0
Pickup Long                                      0
Destination Lat                                  0
Destination Long                                 0
Rider Id                                         0
Time from Pickup to Arrival                      0
dtype: int64

In [18]:
train_df1.shape

(21201, 29)

Check The Percentage Of Missing Values In A Column

In [8]:
percentage_missing_values(train_df1, "Temperature")

Temperature : 20.6 percentage of the data is missing

<h5> This Column Has Over 90 Percent Missing Value Due To That Reason We Drop The Column </h5>

In [9]:
percentage_missing_values(train_df1, "Precipitation in millimeters")

Precipitation in millimeters : 97.4 percentage of the data is missing

Drop Columns And Fill In Missing Values

In [0]:
# Create A Copied DataFrame
new_train_df = train_df1.copy()

In [0]:
# Drop Precipitation in millimeters column
train_df_sp = drop_df_columns(new_train_df, "Precipitation in millimeters")

In [0]:
# Filling In Missing Values
train_df = fill_missing_values(train_df_sp)

In [13]:
# Check For Missing Values Again
check_missing_Values(train_df)

Order No                                     0
User Id                                      0
Vehicle Type                                 0
Platform Type                                0
Personal or Business                         0
Placement - Day of Month                     0
Placement - Weekday (Mo = 1)                 0
Placement - Time                             0
Confirmation - Day of Month                  0
Confirmation - Weekday (Mo = 1)              0
Confirmation - Time                          0
Arrival at Pickup - Day of Month             0
Arrival at Pickup - Weekday (Mo = 1)         0
Arrival at Pickup - Time                     0
Pickup - Day of Month                        0
Pickup - Weekday (Mo = 1)                    0
Pickup - Time                                0
Arrival at Destination - Day of Month        0
Arrival at Destination - Weekday (Mo = 1)    0
Arrival at Destination - Time                0
Distance (KM)                                0
Temperature                                  0
Pickup Lat                                   0
Pickup Long                                  0
Destination Lat                              0
Destination Long                             0
Rider Id                                     0
Time from Pickup to Arrival                  0
dtype: int64

Display Dataframe Results

In [14]:
train_df.head(20)

          Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
0    Order_No_4211   User_Id_633  ...  Rider_Id_432                          745
1   Order_No_25375  User_Id_2285  ...  Rider_Id_856                         1993
2    Order_No_1899   User_Id_265  ...  Rider_Id_155                          455
3    Order_No_9336  User_Id_1402  ...  Rider_Id_855                         1341
4   Order_No_27883  User_Id_1737  ...  Rider_Id_770                         1214
5    Order_No_7408  User_Id_1342  ...  Rider_Id_124                         3191
6   Order_No_22680  User_Id_2803  ...  Rider_Id_114                         1380
7   Order_No_21578  User_Id_1075  ...  Rider_Id_913                          646
8    Order_No_5234   User_Id_733  ...  Rider_Id_394                         3398
9    Order_No_1768  User_Id_2112  ...  Rider_Id_660                         3439
10    Order_No_823  User_Id_2820  ...  Rider_Id_208                         1056
11   Order_No_2533   User_Id_704  ...  Rider_Id_937                         3898
12   Order_No_7842  User_Id_1990  ...  Rider_Id_868                         2642
13   Order_No_6452  User_Id_3295  ...  Rider_Id_536                         2904
14   Order_No_9463   User_Id_248  ...  Rider_Id_607                          407
15  Order_No_21335  User_Id_3599  ...  Rider_Id_427                         1906
16  Order_No_21307   User_Id_198  ...  Rider_Id_265                         2308
17   Order_No_8201  User_Id_1500  ...  Rider_Id_725                         2639
18  Order_No_11630   User_Id_391  ...  Rider_Id_436                         1570
19  Order_No_19866  User_Id_3722  ...  Rider_Id_447                         4220

[20 rows x 28 columns]

In [15]:
# Display Shape Of The DataFrame
train_df.shape

(21201, 28)

<h2>Test Dataset</h2>

<h3>Cleaning DataFrames</h3>

Check If Dataframe Has Missing Values

In [16]:
check_missing_Values(test_df1)

Order No                                   0
User Id                                    0
Vehicle Type                               0
Platform Type                              0
Personal or Business                       0
Placement - Day of Month                   0
Placement - Weekday (Mo = 1)               0
Placement - Time                           0
Confirmation - Day of Month                0
Confirmation - Weekday (Mo = 1)            0
Confirmation - Time                        0
Arrival at Pickup - Day of Month           0
Arrival at Pickup - Weekday (Mo = 1)       0
Arrival at Pickup - Time                   0
Pickup - Day of Month                      0
Pickup - Weekday (Mo = 1)                  0
Pickup - Time                              0
Distance (KM)                              0
Temperature                             1437
Precipitation in millimeters            6869
Pickup Lat                                 0
Pickup Long                                0
Destination Lat                            0
Destination Long                           0
Rider Id                                   0
dtype: int64

In [17]:
test_df1.shape

(7068, 25)

Check The Percentage Of Missing Values In A Column

In [19]:
percentage_missing_values(test_df1, "Temperature")

Temperature : 20.3 percentage of the data is missing

In [20]:
percentage_missing_values(test_df1, "Precipitation in millimeters")

Precipitation in millimeters : 97.2 percentage of the data is missing

Drop Columns And Fill In Missing Values

In [0]:
# Create A Copied DataFrame
new_test_df = test_df1.copy()

In [0]:
# Drop Precipitation in millimeters column
test_df_sp = drop_df_columns(new_test_df, "Precipitation in millimeters")

In [0]:
# Filling In Missing Values
test_df = fill_missing_values(test_df_sp)

In [24]:
# Check For Missing Values Again
check_missing_Values(test_df)

Order No                                0
User Id                                 0
Vehicle Type                            0
Platform Type                           0
Personal or Business                    0
Placement - Day of Month                0
Placement - Weekday (Mo = 1)            0
Placement - Time                        0
Confirmation - Day of Month             0
Confirmation - Weekday (Mo = 1)         0
Confirmation - Time                     0
Arrival at Pickup - Day of Month        0
Arrival at Pickup - Weekday (Mo = 1)    0
Arrival at Pickup - Time                0
Pickup - Day of Month                   0
Pickup - Weekday (Mo = 1)               0
Pickup - Time                           0
Distance (KM)                           0
Temperature                             0
Pickup Lat                              0
Pickup Long                             0
Destination Lat                         0
Destination Long                        0
Rider Id                                0
dtype: int64

Display Dataframe Results

In [25]:
test_df.head(20)

          Order No       User Id  ... Destination Long      Rider Id
0   Order_No_19248  User_Id_3355  ...        36.822390  Rider_Id_192
1   Order_No_12736  User_Id_3647  ...        36.823907  Rider_Id_868
2     Order_No_768  User_Id_2154  ...        36.851365   Rider_Id_26
3   Order_No_15332  User_Id_2910  ...        36.790658  Rider_Id_685
4   Order_No_21373  User_Id_1205  ...        36.792161  Rider_Id_858
5   Order_No_14573  User_Id_2338  ...        36.898452  Rider_Id_452
6    Order_No_6731   User_Id_488  ...        36.808955  Rider_Id_704
7   Order_No_18436  User_Id_3764  ...        36.789446   Rider_Id_62
8    Order_No_2288  User_Id_2866  ...        36.759172  Rider_Id_177
9    Order_No_9063  User_Id_1329  ...        36.714289  Rider_Id_674
10   Order_No_4814  User_Id_1500  ...        36.793006  Rider_Id_576
11  Order_No_16747  User_Id_1927  ...        36.878553  Rider_Id_779
12   Order_No_6376  User_Id_3217  ...        36.791455  Rider_Id_400
13   Order_No_1199  User_Id_3674  ...        36.810052  Rider_Id_685
14  Order_No_17119   User_Id_718  ...        36.790372  Rider_Id_250
15  Order_No_14832  User_Id_3721  ...        36.822413  Rider_Id_544
16  Order_No_12321  User_Id_3557  ...        36.808680  Rider_Id_931
17  Order_No_24820  User_Id_2939  ...        36.840754  Rider_Id_726
18   Order_No_6065   User_Id_635  ...        36.770681   Rider_Id_65
19  Order_No_13176  User_Id_1724  ...        36.782203  Rider_Id_161

[20 rows x 24 columns]

In [26]:
test_df.shape

(7068, 24)