<a href="https://colab.research.google.com/github/Mangalis0/regression_team_2/blob/master/bryan_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# For Bryan

In [0]:
# Import Libraries
import numpy as np
import pandas as pd

In [0]:
# Import Datasets
train_df = pd.read_csv("/Train.csv")
test_df = pd.read_csv("/Test.csv")
riders_df = pd.read_csv("/Riders.csv")

In [0]:
# Display The Dataframe

In [16]:
train_df.head(20)

          Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
0    Order_No_4211   User_Id_633  ...  Rider_Id_432                          745
1   Order_No_25375  User_Id_2285  ...  Rider_Id_856                         1993
2    Order_No_1899   User_Id_265  ...  Rider_Id_155                          455
3    Order_No_9336  User_Id_1402  ...  Rider_Id_855                         1341
4   Order_No_27883  User_Id_1737  ...  Rider_Id_770                         1214
5    Order_No_7408  User_Id_1342  ...  Rider_Id_124                         3191
6   Order_No_22680  User_Id_2803  ...  Rider_Id_114                         1380
7   Order_No_21578  User_Id_1075  ...  Rider_Id_913                          646
8    Order_No_5234   User_Id_733  ...  Rider_Id_394                         3398
9    Order_No_1768  User_Id_2112  ...  Rider_Id_660                         3439
10    Order_No_823  User_Id_2820  ...  Rider_Id_208                         1056
11   Order_No_2533   User_Id_704  ...  Rider_Id_937                         3898
12   Order_No_7842  User_Id_1990  ...  Rider_Id_868                         2642
13   Order_No_6452  User_Id_3295  ...  Rider_Id_536                         2904
14   Order_No_9463   User_Id_248  ...  Rider_Id_607                          407
15  Order_No_21335  User_Id_3599  ...  Rider_Id_427                         1906
16  Order_No_21307   User_Id_198  ...  Rider_Id_265                         2308
17   Order_No_8201  User_Id_1500  ...  Rider_Id_725                         2639
18  Order_No_11630   User_Id_391  ...  Rider_Id_436                         1570
19  Order_No_19866  User_Id_3722  ...  Rider_Id_447                         4220

[20 rows x 29 columns]

In [17]:
test_df.head(20)

          Order No       User Id  ... Destination Long      Rider Id
0   Order_No_19248  User_Id_3355  ...        36.822390  Rider_Id_192
1   Order_No_12736  User_Id_3647  ...        36.823907  Rider_Id_868
2     Order_No_768  User_Id_2154  ...        36.851365   Rider_Id_26
3   Order_No_15332  User_Id_2910  ...        36.790658  Rider_Id_685
4   Order_No_21373  User_Id_1205  ...        36.792161  Rider_Id_858
5   Order_No_14573  User_Id_2338  ...        36.898452  Rider_Id_452
6    Order_No_6731   User_Id_488  ...        36.808955  Rider_Id_704
7   Order_No_18436  User_Id_3764  ...        36.789446   Rider_Id_62
8    Order_No_2288  User_Id_2866  ...        36.759172  Rider_Id_177
9    Order_No_9063  User_Id_1329  ...        36.714289  Rider_Id_674
10   Order_No_4814  User_Id_1500  ...        36.793006  Rider_Id_576
11  Order_No_16747  User_Id_1927  ...        36.878553  Rider_Id_779
12   Order_No_6376  User_Id_3217  ...        36.791455  Rider_Id_400
13   Order_No_1199  User_Id_3674  ...        36.810052  Rider_Id_685
14  Order_No_17119   User_Id_718  ...        36.790372  Rider_Id_250
15  Order_No_14832  User_Id_3721  ...        36.822413  Rider_Id_544
16  Order_No_12321  User_Id_3557  ...        36.808680  Rider_Id_931
17  Order_No_24820  User_Id_2939  ...        36.840754  Rider_Id_726
18   Order_No_6065   User_Id_635  ...        36.770681   Rider_Id_65
19  Order_No_13176  User_Id_1724  ...        36.782203  Rider_Id_161

[20 rows x 25 columns]

In [18]:
riders_df.head(20)

        Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0   Rider_Id_396          2946  2298            14.0           1159
1   Rider_Id_479           360   951            13.5            176
2   Rider_Id_648          1746   821            14.3            466
3   Rider_Id_753           314   980            12.5             75
4   Rider_Id_335           536  1113            13.7            156
5   Rider_Id_720          2608  1798            13.2            504
6    Rider_Id_95          3464  1304            13.4            950
7   Rider_Id_122          4831  2124            14.1           1469
8   Rider_Id_900          1936  1436            14.2            610
9   Rider_Id_196           550  2379            13.4            224
10  Rider_Id_606          2711  1412            14.3            519
11  Rider_Id_742           593   966            14.3            237
12  Rider_Id_101          1299   986            13.1            287
13  Rider_Id_650          4375  2362            14.4           1152
14  Rider_Id_131          2183   887            14.1            393
15  Rider_Id_294          5780  2625            13.5            246
16  Rider_Id_350           575  2068            13.3            184
17  Rider_Id_676          2095  1358            14.1            667
18  Rider_Id_633           929  1070            13.6            258
19  Rider_Id_865          2178  1010            14.1            746

In [0]:
# Taking Care Of Missing Data

In [0]:
# Checking For Missing Data 
def check_missing_Values(input_df):
  
  cp_df = input_df.copy()

  missing_values = cp_df.isnull().sum()

  return dict(missing_values)

In [25]:
check_missing_Values(train_df)

{'Arrival at Destination - Day of Month': 0,
 'Arrival at Destination - Time': 0,
 'Arrival at Destination - Weekday (Mo = 1)': 0,
 'Arrival at Pickup - Day of Month': 0,
 'Arrival at Pickup - Time': 0,
 'Arrival at Pickup - Weekday (Mo = 1)': 0,
 'Confirmation - Day of Month': 0,
 'Confirmation - Time': 0,
 'Confirmation - Weekday (Mo = 1)': 0,
 'Destination Lat': 0,
 'Destination Long': 0,
 'Distance (KM)': 0,
 'Order No': 0,
 'Personal or Business': 0,
 'Pickup - Day of Month': 0,
 'Pickup - Time': 0,
 'Pickup - Weekday (Mo = 1)': 0,
 'Pickup Lat': 0,
 'Pickup Long': 0,
 'Placement - Day of Month': 0,
 'Placement - Time': 0,
 'Placement - Weekday (Mo = 1)': 0,
 'Platform Type': 0,
 'Precipitation in millimeters': 20649,
 'Rider Id': 0,
 'Temperature': 4366,
 'Time from Pickup to Arrival': 0,
 'User Id': 0,
 'Vehicle Type': 0}