<a href="https://colab.research.google.com/github/Mangalis0/regression_team_2/blob/master/bryan_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***BRYAN REGRESSION NOTEBOOK***

<h3>Import Libraries</h3>

In [0]:
import numpy as np
import pandas as pd

<h3>Importing Datasets</h3>

In [0]:
train_df = pd.read_csv("/content/Train.csv")
test_df = pd.read_csv("/content/Test.csv")
riders_df = pd.read_csv("/content/Riders.csv")

<h3>Taking Care Of Missing Values</h3>

*Checking For Missing Values*

In [0]:
def check_missing_Values(input_df):

  missing_values = input_df.isnull().sum().round(2)

  return dict(missing_values)

Checking Percentage Of Missing Values Per Column

In [0]:
def percentage_missing_values(input_df, column_name):

  missing_col_values = sum(input_df[column_name].isnull())

  per_col_missing = round(missing_col_values / len(input_df[column_name]) * 100, 1)

  return print(column_name, ":" ,per_col_missing, "percentage of the data is missing")

Dropping Dataframe Columns

In [0]:
def drop_df_columns(input_df, column_name):

  drop_col = input_df.drop([column_name], axis = 1)

  return drop_col

<h3>Display The Dataframes</h3>

In [11]:
train_df.head(20)

          Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
0    Order_No_4211   User_Id_633  ...  Rider_Id_432                          745
1   Order_No_25375  User_Id_2285  ...  Rider_Id_856                         1993
2    Order_No_1899   User_Id_265  ...  Rider_Id_155                          455
3    Order_No_9336  User_Id_1402  ...  Rider_Id_855                         1341
4   Order_No_27883  User_Id_1737  ...  Rider_Id_770                         1214
5    Order_No_7408  User_Id_1342  ...  Rider_Id_124                         3191
6   Order_No_22680  User_Id_2803  ...  Rider_Id_114                         1380
7   Order_No_21578  User_Id_1075  ...  Rider_Id_913                          646
8    Order_No_5234   User_Id_733  ...  Rider_Id_394                         3398
9    Order_No_1768  User_Id_2112  ...  Rider_Id_660                         3439
10    Order_No_823  User_Id_2820  ...  Rider_Id_208                         1056
11   Order_No_2533   User_Id_704  ...  Rider_Id_937                         3898
12   Order_No_7842  User_Id_1990  ...  Rider_Id_868                         2642
13   Order_No_6452  User_Id_3295  ...  Rider_Id_536                         2904
14   Order_No_9463   User_Id_248  ...  Rider_Id_607                          407
15  Order_No_21335  User_Id_3599  ...  Rider_Id_427                         1906
16  Order_No_21307   User_Id_198  ...  Rider_Id_265                         2308
17   Order_No_8201  User_Id_1500  ...  Rider_Id_725                         2639
18  Order_No_11630   User_Id_391  ...  Rider_Id_436                         1570
19  Order_No_19866  User_Id_3722  ...  Rider_Id_447                         4220

[20 rows x 29 columns]

In [12]:
train_df.shape

(21201, 29)

In [13]:
check_missing_Values(train_df)

{'Arrival at Destination - Day of Month': 0,
 'Arrival at Destination - Time': 0,
 'Arrival at Destination - Weekday (Mo = 1)': 0,
 'Arrival at Pickup - Day of Month': 0,
 'Arrival at Pickup - Time': 0,
 'Arrival at Pickup - Weekday (Mo = 1)': 0,
 'Confirmation - Day of Month': 0,
 'Confirmation - Time': 0,
 'Confirmation - Weekday (Mo = 1)': 0,
 'Destination Lat': 0,
 'Destination Long': 0,
 'Distance (KM)': 0,
 'Order No': 0,
 'Personal or Business': 0,
 'Pickup - Day of Month': 0,
 'Pickup - Time': 0,
 'Pickup - Weekday (Mo = 1)': 0,
 'Pickup Lat': 0,
 'Pickup Long': 0,
 'Placement - Day of Month': 0,
 'Placement - Time': 0,
 'Placement - Weekday (Mo = 1)': 0,
 'Platform Type': 0,
 'Precipitation in millimeters': 20649,
 'Rider Id': 0,
 'Temperature': 4366,
 'Time from Pickup to Arrival': 0,
 'User Id': 0,
 'Vehicle Type': 0}

In [14]:
percentage_missing_values(train_df, "Temperature")

Temperature : 20.6 percentage of the data is missing

In [15]:
percentage_missing_values(train_df, "Precipitation in millimeters")

Precipitation in millimeters : 97.4 percentage of the data is missing