<a href="https://colab.research.google.com/github/Mangalis0/regression_team_2/blob/master/faatimah_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# For Faatimah

# **`Sendy Explore competition `**

# Introduction

# Importing libraries

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline 
import seaborn as sns
import plotly.express as px

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Importing dataset

In [0]:
train = pd.read_csv('/content/Train.csv') #training set
test = pd.read_csv('/content/Test.csv') #testing set(does not contain y variable)
riders = pd.read_csv('/content/Riders.csv') #riders info
variable_def = pd.read_csv('/content/VariableDefinitions.csv')
sample = pd.read_csv('/content/SampleSubmission.csv') #sample of competition submission, should have order no for testing set, and y predicted from model

In [20]:
train.head(1)

        Order No      User Id  ...      Rider Id  Time from Pickup to Arrival
0  Order_No_4211  User_Id_633  ...  Rider_Id_432                          745

[1 rows x 29 columns]

Notes:



*   spaces in column names need to be removed 
*   to be dropped: order no, user id, vehicle type(its only for 'Bike')
*   possible variables to be encoded: platform type, personal or business, placement, confirmation, lat and long coordinates, rider ID

In [8]:
test.head(1)

         Order No       User Id  ... Destination Long      Rider Id
0  Order_No_19248  User_Id_3355  ...         36.82239  Rider_Id_192

[1 rows x 25 columns]

In [9]:
riders.head(1)

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159

Notes: 
*   could be joined to train?
*   what's the units for age?

*   can no of ratings be dropped? it is included in average rating

In [10]:
variable_def.head(1)

  Order No                Unique number identifying the order
0  User Id  Unique number identifying the customer on a pl...

In [11]:
sample.head(1)

         Order_No  Time from Pickup to Arrival
0  Order_No_19248                        567.0

Train EDA

In [16]:
print('train contains')
print('No. of rows:', train.shape[0])
print('No. of columns:', train.shape[1])

train contains
No. of rows: 21201
No. of columns: 29

In [18]:
train.describe() #descriptive stats

       Platform Type  ...  Time from Pickup to Arrival
count   21201.000000  ...                 21201.000000
mean        2.752182  ...                  1556.920947
std         0.625178  ...                   987.270788
min         1.000000  ...                     1.000000
25%         3.000000  ...                   882.000000
50%         3.000000  ...                  1369.000000
75%         3.000000  ...                  2040.000000
max         4.000000  ...                  7883.000000

[8 rows x 19 columns]

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 29 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Order No                                   21201 non-null  object
 1   User Id                                    21201 non-null  object
 2   Vehicle Type                               21201 non-null  object
 3   Platform Type                              21201 non-null  int64
 4   Personal or Business                       21201 non-null  object
 5   Placement - Day of Month                   21201 non-null  int64
 6   Placement - Weekday (Mo = 1)               21201 non-null  int64
 7   Placement - Time                           21201 non-null  object
 8   Confirmation - Day of Month                21201 non-null  int64
 9   Confirmation - Weekday (Mo = 1)            21201 non-null  int64
 10  Confirmation - Time                        21201 non-null  object
 11  Arrival at Pickup - Day of Month           21201 non-null  int64
 12  Arrival at Pickup - Weekday (Mo = 1)       21201 non-null  int64
 13  Arrival at Pickup - Time                   21201 non-null  object
 14  Pickup - Day of Month                      21201 non-null  int64
 15  Pickup - Weekday (Mo = 1)                  21201 non-null  int64
 16  Pickup - Time                              21201 non-null  object
 17  Arrival at Destination - Day of Month      21201 non-null  int64
 18  Arrival at Destination - Weekday (Mo = 1)  21201 non-null  int64
 19  Arrival at Destination - Time              21201 non-null  object
 20  Distance (KM)                              21201 non-null  int64
 21  Temperature                                16835 non-null  float64
 22  Precipitation in millimeters               552 non-null    float64
 23  Pickup Lat                                 21201 non-null  float64
 24  Pickup Long                                21201 non-null  float64
 25  Destination Lat                            21201 non-null  float64
 26  Destination Long                           21201 non-null  float64
 27  Rider Id                                   21201 non-null  object
 28  Time from Pickup to Arrival                21201 non-null  int64
dtypes: float64(6), int64(13), object(10)
memory usage: 4.7+ MB

In [21]:
train.isnull().sum(axis = 0) #number of nulls per column

Order No                                         0
User Id                                          0
Vehicle Type                                     0
Platform Type                                    0
Personal or Business                             0
Placement - Day of Month                         0
Placement - Weekday (Mo = 1)                     0
Placement - Time                                 0
Confirmation - Day of Month                      0
Confirmation - Weekday (Mo = 1)                  0
Confirmation - Time                              0
Arrival at Pickup - Day of Month                 0
Arrival at Pickup - Weekday (Mo = 1)             0
Arrival at Pickup - Time                         0
Pickup - Day of Month                            0
Pickup - Weekday (Mo = 1)                        0
Pickup - Time                                    0
Arrival at Destination - Day of Month            0
Arrival at Destination - Weekday (Mo = 1)        0
Arrival at Destination - Time                    0
Distance (KM)                                    0
Temperature                                   4366
Precipitation in millimeters                 20649
Pickup Lat                                       0
Pickup Long                                      0
Destination Lat                                  0
Destination Long                                 0
Rider Id                                         0
Time from Pickup to Arrival                      0
dtype: int64

In [26]:
#percentage of Nan values:
temp =round((train.isnull().sum(axis = 0)['Temperature']/21201)*100,2)
precip = round((train.isnull().sum(axis = 0)['Precipitation in millimeters']/21201)*100,2)
print(temp,'% of missing values in temp column')
print(precip,'% of missing values in precipitation column')

20.59 % of missing values in temp column
97.4 % of missing values in precipitation column