In [0]:
# For Sam

In [117]:
import pandas as pd
import numpy as np

loading the dataset

In [118]:
dataset = pd.read_csv("Train.csv")

Checking it out

In [119]:
dataset.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:39:55 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,12:17:22 PM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,1:00:38 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,10:05:27 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,10:25:37 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214

In [120]:
dataset.columns

Index(['Order No', 'User Id', 'Vehicle Type', 'Platform Type',
       'Personal or Business', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Placement - Time',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
       'Confirmation - Time', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time',
       'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Pickup - Time',
       'Arrival at Destination - Day of Month',
       'Arrival at Destination - Weekday (Mo = 1)',
       'Arrival at Destination - Time', 'Distance (KM)', 'Temperature',
       'Precipitation in millimeters', 'Pickup Lat', 'Pickup Long',
       'Destination Lat', 'Destination Long', 'Rider Id',
       'Time from Pickup to Arrival'],
      dtype='object')

In [142]:
### START FUNCTION
def cleaner(input_df, threshold, similarity_threshold):
    input_dfc = input_df.copy()
    
    x = 0 # this will count the number of columns dropped

    #######################################################################################################################
    # The Code below drops columns that have null values exceeding threshold and Columns that have ONLY one value
    for col in input_df.columns:
        if (sum(input_df[col].isnull())*100/len(input_df[col]) > threshold) or (len(input_df[col].unique()) == 1):
            if (sum(input_df[col].isnull())*100/len(input_df[col]) > threshold):
                print(f'Dropping "{col}" column for null values exceeding {threshold}%')
            else:
                print(f'Dropping "{col}" column for only having 1 value: {dataset[col].unique()[0]}')
            input_dfc.drop(columns=[col], inplace=True) 
            x += 1
    ########################################################################################################################

    ########################################################################################################################
    # This code drops columns that are similarity_threshold% similar
    input_dfc2 = input_dfc.copy()
    for col in input_dfc.columns:
        for second_col in [x for x in input_dfc2.columns if x != col]:
            if col in input_dfc2.columns and sum(input_dfc2[col] == input_dfc2[second_col])*100/len(input_dfc2[col]) > similarity_threshold:
                print(f'Dropping "{col}" column because it is {similarity_threshold}% similar to {second_col} to avoid colinearity')
                input_dfc2.drop(columns=[col], inplace=True) 
                x += 1
    print(f"Total of {x} columns dropped \n")  
    print([x for x in input_df.columns if x not in input_dfc2])
    ########################################################################################################################

    ########################################################################################################################
    # This code converts time given by am and pm into seconds
    def time_to_seconds(input_df):
        input_dfc = input_df.copy()

        from datetime import datetime

        for time_col in [col for col in input_df.columns if 'Time' in [col[-4:]]]:

            input_dfc[time_col] = input_df[time_col].apply(lambda time: (datetime.strptime(time, '%I:%M:%S %p') - datetime(1900,1,1)).total_seconds())

        return input_dfc

    input_dfc2 = time_to_seconds(input_dfc2)
    ########################################################################################################################
    
    return input_dfc2

### END FUNCTION

In [143]:
train_df = drop_columns(dataset, 40, 90)

Dropping "Vehicle Type" column for only having 1 value: Bike
Dropping "Precipitation in millimeters" column for null values exceeding 40%
Dropping "Placement - Day of Month" column because it is 90% similar to Confirmation - Day of Month to avoid colinearity
Dropping "Placement - Weekday (Mo = 1)" column because it is 90% similar to Confirmation - Weekday (Mo = 1) to avoid colinearity
Dropping "Confirmation - Day of Month" column because it is 90% similar to Arrival at Pickup - Day of Month to avoid colinearity
Dropping "Confirmation - Weekday (Mo = 1)" column because it is 90% similar to Arrival at Pickup - Weekday (Mo = 1) to avoid colinearity
Dropping "Arrival at Pickup - Day of Month" column because it is 90% similar to Pickup - Day of Month to avoid colinearity
Dropping "Arrival at Pickup - Weekday (Mo = 1)" column because it is 90% similar to Pickup - Weekday (Mo = 1) to avoid colinearity
Dropping "Pickup - Day of Month" column because it is 90% similar to Arrival at Destination - Day of Month to avoid colinearity
Dropping "Pickup - Weekday (Mo = 1)" column because it is 90% similar to Arrival at Destination - Weekday (Mo = 1) to avoid colinearity
Total of 10 columns dropped

['Vehicle Type', 'Placement - Day of Month', 'Placement - Weekday (Mo = 1)', 'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)', 'Arrival at Pickup - Day of Month', 'Arrival at Pickup - Weekday (Mo = 1)', 'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Precipitation in millimeters']

In [144]:
train_df

,Order No,User Id,Platform Type,Personal or Business,Placement - Time,Confirmation - Time,Arrival at Pickup - Time,Pickup - Time,Arrival at Destination - Day of Month,Arrival at Destination - Weekday (Mo = 1),Arrival at Destination - Time,Distance (KM),Temperature,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,3,Business,34546.0,34810.0,36287.0,37650.0,9,5,38395.0,4,20.4,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,3,Personal,40576.0,41001.0,42022.0,42249.0,12,5,44242.0,16,26.4,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,3,Business,45565.0,45764.0,46174.0,46383.0,30,2,46838.0,3,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,3,Business,33934.0,33965.0,34676.0,34986.0,15,5,36327.0,9,19.2,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,1,Personal,35718.0,35778.0,36233.0,36323.0,13,1,37537.0,9,15.4,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21196,Order_No_8834,User_Id_2001,3,Personal,57278.0,57309.0,57529.0,58808.0,20,3,58817.0,3,28.6,-1.258414,36.804800,-1.275285,36.802702,Rider_Id_953,9
21197,Order_No_22892,User_Id_1796,3,Business,36814.0,36821.0,37204.0,38007.0,13,6,38777.0,7,26.0,-1.307143,36.825009,-1.331619,36.847976,Rider_Id_155,770
21198,Order_No_2831,User_Id_2956,3,Business,61576.0,61629.0,63017.0,64252.0,7,4,67205.0,20,29.2,-1.286018,36.897534,-1.258414,36.804800,Rider_Id_697,2953
21199,Order_No_6174,User_Id_2524,1,Personal,34299.0,34313.0,34739.0,35115.0,4,3,36495.0,13,15.0,-1.250030,36.874167,-1.279209,36.794872,Rider_Id_347,1380
21200,Order_No_9836,User_Id_718,3,Business,51587.0,51601.0,51869.0,52915.0,26,2,55043.0,12,30.9,-1.255189,36.782203,-1.320157,36.830887,Rider_Id_177,2128

In [134]:
def time_to_seconds(input_df):
    input_dfc = input_df.copy()

    from datetime import datetime

    for time_col in [col for col in input_df.columns if 'Time' in [col[-4:]]]:

        input_dfc[time_col] = input_df[time_col].apply(lambda time: (datetime.strptime(time, '%I:%M:%S %p') - datetime(1900,1,1)).total_seconds())

    return input_dfc

In [135]:
time_to_seconds(train_df)

,Order No,User Id,Platform Type,Personal or Business,Placement - Time,Confirmation - Time,Arrival at Pickup - Time,Pickup - Time,Arrival at Destination - Day of Month,Arrival at Destination - Weekday (Mo = 1),Arrival at Destination - Time,Distance (KM),Temperature,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,3,Business,34546.0,34810.0,36287.0,37650.0,9,5,38395.0,4,20.4,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,3,Personal,40576.0,41001.0,42022.0,42249.0,12,5,44242.0,16,26.4,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,3,Business,45565.0,45764.0,46174.0,46383.0,30,2,46838.0,3,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,3,Business,33934.0,33965.0,34676.0,34986.0,15,5,36327.0,9,19.2,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,1,Personal,35718.0,35778.0,36233.0,36323.0,13,1,37537.0,9,15.4,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21196,Order_No_8834,User_Id_2001,3,Personal,57278.0,57309.0,57529.0,58808.0,20,3,58817.0,3,28.6,-1.258414,36.804800,-1.275285,36.802702,Rider_Id_953,9
21197,Order_No_22892,User_Id_1796,3,Business,36814.0,36821.0,37204.0,38007.0,13,6,38777.0,7,26.0,-1.307143,36.825009,-1.331619,36.847976,Rider_Id_155,770
21198,Order_No_2831,User_Id_2956,3,Business,61576.0,61629.0,63017.0,64252.0,7,4,67205.0,20,29.2,-1.286018,36.897534,-1.258414,36.804800,Rider_Id_697,2953
21199,Order_No_6174,User_Id_2524,1,Personal,34299.0,34313.0,34739.0,35115.0,4,3,36495.0,13,15.0,-1.250030,36.874167,-1.279209,36.794872,Rider_Id_347,1380
21200,Order_No_9836,User_Id_718,3,Business,51587.0,51601.0,51869.0,52915.0,26,2,55043.0,12,30.9,-1.255189,36.782203,-1.320157,36.830887,Rider_Id_177,2128

In [133]:
train_df['']

,Order No,User Id,Platform Type,Personal or Business,Placement - Time,Confirmation - Time,Arrival at Pickup - Time,Pickup - Time,Arrival at Destination - Day of Month,Arrival at Destination - Weekday (Mo = 1),Arrival at Destination - Time,Distance (KM),Temperature,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,3,Business,9:35:46 AM,9:40:10 AM,10:04:47 AM,10:27:30 AM,9,5,10:39:55 AM,4,20.4,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,3,Personal,11:16:16 AM,11:23:21 AM,11:40:22 AM,11:44:09 AM,12,5,12:17:22 PM,16,26.4,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,3,Business,12:39:25 PM,12:42:44 PM,12:49:34 PM,12:53:03 PM,30,2,1:00:38 PM,3,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,3,Business,9:25:34 AM,9:26:05 AM,9:37:56 AM,9:43:06 AM,15,5,10:05:27 AM,9,19.2,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,1,Personal,9:55:18 AM,9:56:18 AM,10:03:53 AM,10:05:23 AM,13,1,10:25:37 AM,9,15.4,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21196,Order_No_8834,User_Id_2001,3,Personal,3:54:38 PM,3:55:09 PM,3:58:49 PM,4:20:08 PM,20,3,4:20:17 PM,3,28.6,-1.258414,36.804800,-1.275285,36.802702,Rider_Id_953,9
21197,Order_No_22892,User_Id_1796,3,Business,10:13:34 AM,10:13:41 AM,10:20:04 AM,10:33:27 AM,13,6,10:46:17 AM,7,26.0,-1.307143,36.825009,-1.331619,36.847976,Rider_Id_155,770
21198,Order_No_2831,User_Id_2956,3,Business,5:06:16 PM,5:07:09 PM,5:30:17 PM,5:50:52 PM,7,4,6:40:05 PM,20,29.2,-1.286018,36.897534,-1.258414,36.804800,Rider_Id_697,2953
21199,Order_No_6174,User_Id_2524,1,Personal,9:31:39 AM,9:31:53 AM,9:38:59 AM,9:45:15 AM,4,3,10:08:15 AM,13,15.0,-1.250030,36.874167,-1.279209,36.794872,Rider_Id_347,1380
21200,Order_No_9836,User_Id_718,3,Business,2:19:47 PM,2:20:01 PM,2:24:29 PM,2:41:55 PM,26,2,3:17:23 PM,12,30.9,-1.255189,36.782203,-1.320157,36.830887,Rider_Id_177,2128

In [124]:
times_df = train_df[[col for col in train_df.columns if 'Time' in [col[-4:], col[:4]]]]
times_df

,Placement - Time,Confirmation - Time,Arrival at Pickup - Time,Pickup - Time,Arrival at Destination - Time,Time from Pickup to Arrival
0,9:35:46 AM,9:40:10 AM,10:04:47 AM,10:27:30 AM,10:39:55 AM,745
1,11:16:16 AM,11:23:21 AM,11:40:22 AM,11:44:09 AM,12:17:22 PM,1993
2,12:39:25 PM,12:42:44 PM,12:49:34 PM,12:53:03 PM,1:00:38 PM,455
3,9:25:34 AM,9:26:05 AM,9:37:56 AM,9:43:06 AM,10:05:27 AM,1341
4,9:55:18 AM,9:56:18 AM,10:03:53 AM,10:05:23 AM,10:25:37 AM,1214
...,...,...,...,...,...,...
21196,3:54:38 PM,3:55:09 PM,3:58:49 PM,4:20:08 PM,4:20:17 PM,9
21197,10:13:34 AM,10:13:41 AM,10:20:04 AM,10:33:27 AM,10:46:17 AM,770
21198,5:06:16 PM,5:07:09 PM,5:30:17 PM,5:50:52 PM,6:40:05 PM,2953
21199,9:31:39 AM,9:31:53 AM,9:38:59 AM,9:45:15 AM,10:08:15 AM,1380
21200,2:19:47 PM,2:20:01 PM,2:24:29 PM,2:41:55 PM,3:17:23 PM,2128

In [125]:
time = times_df.iloc[21200,0]

In [126]:
time

'2:19:47 PM'

In [127]:
type(time)

str

In [128]:
from datetime import datetime
new_time = datetime.strptime(time, '%I:%M:%S %p') 
new_time

datetime.datetime(1900, 1, 1, 14, 19, 47)

In [129]:
(new_time - datetime(1900,1,1))

datetime.timedelta(seconds=51587)

In [130]:
type((new_time - datetime(1900,1,1)).total_seconds())

float

In [85]:
print(set(dataset['User Id']) == set(dataset['User Id'].unique()))
print(set(dataset['Order No']) == set(dataset['Order No'].unique()))

True
True

In [4]:
riders = pd.read_csv('Riders.csv')

In [5]:
riders.head()

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176
2  Rider_Id_648          1746   821            14.3            466
3  Rider_Id_753           314   980            12.5             75
4  Rider_Id_335           536  1113            13.7            156

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 29 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Order No                                   21201 non-null  object
 1   User Id                                    21201 non-null  object
 2   Vehicle Type                               21201 non-null  object
 3   Platform Type                              21201 non-null  int64
 4   Personal or Business                       21201 non-null  object
 5   Placement - Day of Month                   21201 non-null  int64
 6   Placement - Weekday (Mo = 1)               21201 non-null  int64
 7   Placement - Time                           21201 non-null  object
 8   Confirmation - Day of Month                21201 non-null  int64
 9   Confirmation - Weekday (Mo = 1)            21201 non-null  int64
 10  Confirmation - Time                        21201 non-null  object
 11  Arrival at Pickup - Day of Month           21201 non-null  int64
 12  Arrival at Pickup - Weekday (Mo = 1)       21201 non-null  int64
 13  Arrival at Pickup - Time                   21201 non-null  object
 14  Pickup - Day of Month                      21201 non-null  int64
 15  Pickup - Weekday (Mo = 1)                  21201 non-null  int64
 16  Pickup - Time                              21201 non-null  object
 17  Arrival at Destination - Day of Month      21201 non-null  int64
 18  Arrival at Destination - Weekday (Mo = 1)  21201 non-null  int64
 19  Arrival at Destination - Time              21201 non-null  object
 20  Distance (KM)                              21201 non-null  int64
 21  Temperature                                16835 non-null  float64
 22  Precipitation in millimeters               552 non-null    float64
 23  Pickup Lat                                 21201 non-null  float64
 24  Pickup Long                                21201 non-null  float64
 25  Destination Lat                            21201 non-null  float64
 26  Destination Long                           21201 non-null  float64
 27  Rider Id                                   21201 non-null  object
 28  Time from Pickup to Arrival                21201 non-null  int64
dtypes: float64(6), int64(13), object(10)
memory usage: 4.7+ MB

In [8]:
sample = pd.read_csv('SampleSubmission.csv')

In [10]:
sample

            Order_No  Time from Pickup to Arrival
0     Order_No_19248                        567.0
1     Order_No_12736                       4903.0
2       Order_No_768                       5649.0
3     Order_No_15332                          NaN
4     Order_No_21373                          NaN
...              ...                          ...
7063   Order_No_3612                          NaN
7064   Order_No_7657                          NaN
7065   Order_No_1969                          NaN
7066  Order_No_10591                          NaN
7067   Order_No_1603                          NaN

[7068 rows x 2 columns]

In [11]:
finaltest = pd.read_csv("Test.csv")

In [12]:
finaltest

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Pickup - Weekday (Mo = 1),Pickup - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id
0,Order_No_19248,User_Id_3355,Bike,3,Business,27,3,4:44:10 PM,27,3,...,3,5:06:47 PM,8,NaN,NaN,-1.333275,36.870815,-1.305249,36.822390,Rider_Id_192
1,Order_No_12736,User_Id_3647,Bike,3,Business,17,5,12:57:35 PM,17,5,...,5,1:25:37 PM,5,NaN,NaN,-1.272639,36.794723,-1.277007,36.823907,Rider_Id_868
2,Order_No_768,User_Id_2154,Bike,3,Business,27,4,11:08:14 AM,27,4,...,4,11:57:54 AM,5,22.8,NaN,-1.290894,36.822971,-1.276574,36.851365,Rider_Id_26
3,Order_No_15332,User_Id_2910,Bike,3,Business,17,1,1:51:35 PM,17,1,...,1,2:16:52 PM,5,24.5,NaN,-1.290503,36.809646,-1.303382,36.790658,Rider_Id_685
4,Order_No_21373,User_Id_1205,Bike,3,Business,11,2,11:30:28 AM,11,2,...,2,11:56:04 AM,6,24.4,NaN,-1.281081,36.814423,-1.266467,36.792161,Rider_Id_858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7063,Order_No_3612,User_Id_2587,Bike,3,Business,7,1,10:35:49 AM,7,1,...,1,10:48:18 AM,5,24.8,NaN,-1.258414,36.804800,-1.288780,36.816831,Rider_Id_362
7064,Order_No_7657,User_Id_3547,Bike,3,Business,10,3,2:59:42 PM,10,3,...,3,3:21:44 PM,22,30.7,NaN,-1.276141,36.771084,-1.316098,36.913164,Rider_Id_669
7065,Order_No_1969,User_Id_136,Bike,3,Business,5,3,2:45:12 PM,5,3,...,3,3:07:52 PM,10,25.1,NaN,-1.301446,36.766138,-1.264960,36.798178,Rider_Id_379
7066,Order_No_10591,User_Id_1979,Bike,3,Personal,29,2,3:18:26 PM,29,2,...,2,3:46:35 PM,18,23.6,NaN,-1.248404,36.678276,-1.272027,36.817411,Rider_Id_474
7067,Order_No_1603,User_Id_1721,Bike,3,Business,4,2,3:37:09 PM,4,2,...,2,4:04:43 PM,8,22.3,NaN,-1.255189,36.782203,-1.300406,36.829741,Rider_Id_76

In [15]:
len(dataset['Order No'].unique())

21201